{% extends "/Admin/layout/adminLayout.html" %}

{% block title %}Moduli Buletinet | Pozitat{% endblock %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-md-10">
                        <div>
                            <h6 class="m-0 font-weight-bold text-primary">Pozitat</h6>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-start">
                            <a href="/admin/position-create"><i class="fa-solid fa-plus"></i> Shtoni Pozitë</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th>Fakulteti</th>
                                <th>Pozita</th>
                                <th>Përshkrimi</th>
                                <th>Krijuar më</th>
                                <th>Përditësuar më</th>
                                <th>Modifiko</th>
                                <th>Fshij</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for position in positions %}
                            <tr>
                                <td>{{ position.faculty.name }}</td>
                                <td>{{ position.position }}</td>
                                <td>{{ position.description }}</td>
                                <td>{{ position.created_at }}</td>
                                <td>{{ position.updated_at }}</td>
                                <td><a href="/admin/position-edit?id={{position.id}}"><i class="fas fa-edit"></i></a></td>
                                <td><a href="/admin/position-delete?id={{position.id}}" class="delete-position text-danger"><i class="fas fa-trash"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block js %}
    <script>
        // Attach a click event listener to delete links
        document.addEventListener('DOMContentLoaded', function() {
            const deleteLinks = document.querySelectorAll('.delete-position');
            
            deleteLinks.forEach(function(link) {
                link.addEventListener('click', function(e) {
                    e.preventDefault(); // Prevent the default link behavior
                    
                    const confirmation = confirm('Jeni të sigurt që dëshironi ta fshini këtë pozitë?');
                    
                    if (confirmation) {
                        // If the user confirms, redirect to the delete link's href
                        window.location.href = this.href;
                    }
                });
            });
        });
    </script>

{% endblock %}

