{% extends "/Admin/layout/adminLayout.html" %}

{% block title %}Shtoni Përdorues{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow-lg border-0 rounded-lg mt-3">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-2">Shto Përdorues</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/admin/user-store">
                            <div class="form-group">
                                <label class="small mb-1">Emri i plotë: </label>
                                <input class="form-control py-4" name="fullname" type="text" placeholder="Shkruani emrin e plotë"/>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="email">Email-i: </label>
                                <input class="form-control py-4" name="email" id="email" type="text" placeholder="Shkruani email-in"/>
                            </div>    
                            <div class="form-group" id="password-box">
                                <label class="small mb-1" for="password">Fjalëkalimi: </label>
                                <input class="form-control py-4" name="password" id="password" type="text" placeholder="Shkruani fjalëkalimin"/>
                            </div>
                            <input class="btn btn-primary" id="create" value="Shto" type="submit"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</main>

{% endblock %}