{% extends "/Admin/layout/adminLayout.html" %}

{% block title %}Bulletins Module | Users{% endblock %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTables Example -->
        <div class="card shadow">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-md-10">
                        <div>
                            <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-start">
                            <a href="/admin/user-create"><i class="fa-solid fa-plus"></i> Add User</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th>Fullnme</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Created at</th>
                                <th>Updated at</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.fullname }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.password }}</td> 
                                <td>{{ user.created_at }}</td>
                                <td>{{ user.updated_at }}</td>                            
                                <td><a href="/admin/user-edit?id={{user.id}}"><i class="fas fa-edit"></i></a></td>
                                <td><a href="/admin/user-delete?id={{user.id}}" class="delete-user"><i class="fas fa-trash text-danger"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block js %}
    <script>
        // Attach a click user listener to delete links
        document.addEventListener('DOMContentLoaded', function() {
            const deleteLinks = document.querySelectorAll('.delete-user');
            
            deleteLinks.forEach(function(link) {
                link.addEventListener('click', function(e) {
                    e.preventDefault(); // Prevent the default link behavior
                    
                    const confirmation = confirm('Are you sure you want to delete this user?');
                    
                    if (confirmation) {
                        // If the user confirms, redirect to the delete link's href
                        window.location.href = this.href;
                    }
                });
            });
        });
    </script>

{% endblock %}

